<!DOCTYPE html>
<html>


<style>
	/* 		body {
			font: 14px/1.4 Georgia, Serif; 
		} */
	[v-cloak] {
		display: none;
	}
</style>



<head>
	<meta charset="utf-8">
	<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,
		minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
	<title></title>


	<!-- import CSS -->

	<!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
	<link rel="stylesheet" href="../js/element-ui/theme-chalk/index.css">

</head>


<body style="background-size: 100%;">
	<canvas id="draw_texiao" style=" position: fixed; display: block;left:0;top:0;width: 100%;height: 100%; "></canvas>



	<div id="app" v-cloak>


		<el-card class="box-card" shadow="hover"
			style="margin: 5px 5px;height: 100px; width: 370px;float: left;border-radius: 10px;background-color: #FFCC99;"
			v-for="item in value" v-if="item.sensor_role=='online'">

			<el-row style="margin-top: 5px;">

				<el-col :span="24" :xs="24" style="text-align: center;">
					<span style="text-align: right;">{{item.sensor_name}}</span>
				</el-col>

				<el-col :span="24" :xs="24">
					<span style="text-align: left;">{{online_detect(item)}}</span>
				</el-col>

			</el-row>

		</el-card>


		<!-- <div style="clear: both;"></div> -->



		<div v-if="ui_config.show_label">


			<el-card class="box-card" shadow="hover"
				style="margin: 5px 5px;height: 100px; width: 180px; float: left;background-color: #009966;"
				v-for="item in value" v-if="item.sensor_role=='label'">

				<div>
					<el-row>
						<el-col :span="12" :xs="12">
							<span>{{item.sensor_name}}</span>
						</el-col>

						<el-col :span="12" :xs="12" style="text-align: right;">
							<span>{{item.sensor_note}}</span>
						</el-col>



						<el-col :span="24" :xs="24" style="text-align: center;">
							<span
								style="font-size: 30px;text-align: center;color: #e9e8e9;">{{item.sensor_value}}</span>
						</el-col>
					</el-row>
				</div>
			</el-card>


			<el-card class="box-card" shadow="hover"
				style="margin: 5px 5px;height: 100px; width: 180px; float: left;background-color: #009966;"
				v-for="item in value" v-if="item.sensor_role=='label_map'">

				<div>
					<el-row>
						<el-col :span="12" :xs="12">
							<span>{{item.sensor_name}}</span>
						</el-col>

						<el-col :span="24" :xs="24" style="text-align: center;">
							<span
								style="font-size: 20px;text-align: center;color: #e9e8e9;">{{JSON.parse(item.sensor_note.trim())[""+item.sensor_value.trim()]}}</span>
						</el-col>
					</el-row>
				</div>
			</el-card>


		</div>
		
		
		


		<div v-if="ui_config.show_switch">


			<div v-for="item in value">
				<div v-if="item.sensor_role=='switch'">

					<el-card class="box-card" shadow="hover"
						style="margin: 5px 5px;width: 180px;height: 100px;float: left; border-radius: 10px; background-color: #CC99CC;">
						<el-row>
							<el-col :span="16" :xs="16">
								<span>{{item.sensor_name}}</span>
							</el-col>
							<el-col :span="8" :xs="8">
								<el-switch v-model="item.sensor_value" active-color="#13ce66" inactive-color="#ff4949"
									active-value="on" @change="source_change(item)" inactive-value="off">
								</el-switch>
							</el-col>

						</el-row>
					</el-card>

				</div>
			</div>
		</div>



		<div v-if="ui_config.show_number">

			<div v-for="item in value">
				<div v-if="item.sensor_role=='number'" style="text-align: center;">


					<el-card class="box-card" shadow="hover"
						style="margin: 5px 5px;float: left;width: 180px;height: 100px;border-radius: 10px;background-color:#009999;">

						<span style="text-align: center;">{{item.sensor_name}}</span>
						<el-button style="float: right; padding: 3px 0" type="text">{{item.sensor_note}}

							<el-input-number v-model="item.sensor_value" @change="source_change(item)" size="small"
								:min="1" :max="60000"></el-input-number>

					</el-card>
				</div>

			</div>
		</div>



		<div v-if="ui_config.show_card">

			<el-card class="box-card" shadow="hover"
				style="margin: 5px 5px;height: 100px; width: 370px;float: left;border-radius: 10px;background-color:#6666CC ;"
				v-for="item in value" v-if="item.sensor_role=='card'">
				<el-row>
					<el-col :span="24" :xs="24">
						<span>{{item.sensor_name}}</span>
					</el-col>
					<el-col :span="24" :xs="24">
						<span style="font-size: 30px;">{{item.sensor_value}}</span>
					</el-col>
				</el-row>
			</el-card>

		</div>

		<div v-if="ui_config.show_radio_button" style="padding-top: 10px;">
			<el-card class="box-card"shadow="hover"
						style="margin: 5px 5px;height: 100px; width: 565px;float: left;border-radius: 10px;background-color:#6666CC ;"
						 >
			<div v-for="item in value">
				<div v-if="item.sensor_role=='radio_button'">
					<el-radio-group v-model="item.sensor_value" @change="source_change(item)" >
					<el-radio-button v-for="item_2 in radio_button_enum(item.sensor_note)" v-bind:label="item_2.name" 
					>{{item_2.value}}</el-radio-button>
						<div style="padding-top: 10px;"></div>
					</el-radio-group>
				</div>
			</div>
			</el-card>
		</div>


		<div v-if="ui_config.show_slider">

			<div v-for="item in value">
				<div v-if="item.sensor_role=='slider'">

					<el-card class="box-card" shadow="hover"
						style="margin: 5px 5px;float: left;width: 370px;height: 100px;border-radius: 10px;background-color: #CCCCCC;">
						<div style="min-width: 300px; max-width: 600px;">
							<el-row>
								<el-col :span="6">
									<div class="grid-content bg-purple" style="text-align: left;margin-top: 10px;">
										{{item.sensor_name}}
									</div>
								</el-col>
								<el-col :span="18">
									<el-slider v-model.string-set="item.sensor_value" @change="source_change(item)">
									</el-slider>
								</el-col>

							</el-row>
						</div>

					</el-card>


				</div>
			</div>

		</div>






		<div v-if="ui_config.show_timer">

			<el-card class="box-card" shadow="hover"
				style="margin: 5px 5px;height: 100px; width: 370px;float: left;border-radius: 10px;background-color: #FF6666;"
				v-for="item in value" v-if="item.sensor_role=='timer'">
				<el-row>

					<el-col :span="24" :xs="24">
						<template>
							<div class="block">
								<span class="demonstration">{{item.sensor_name}}&nbsp;</span>
								<el-date-picker v-model="item.sensor_value" type="datetime" @focus="disable_refresh()"
									@blur="enable_refresh()" @change="source_change(item)" format="yyyy-MM-dd HH:mm:ss"
									value-format="timestamp" placeholder="选择日期时间">
								</el-date-picker>
							</div>
						</template>
					</el-col>
				</el-row>
			</el-card>

		</div>






		<div v-if="ui_config.show_textbox">


			<el-card class="box-card" shadow="hover"
				style="margin: 5px 5px;height: 100px; width: 370px;float: left;border-radius: 10px;"
				v-for="item in value" v-if="item.sensor_role=='textbox'">
				<el-row>
					<el-col :span="24" :xs="24">
						<el-input v-model="item.sensor_value" @focus="disable_refresh()" @blur="enable_refresh()"
							@change="source_change(item)" />
					</el-col>
					<el-col :span="12" :xs="12">
						<el-tag style="margin-top: 4px;">{{item.sensor_name}}</el-tag>
					</el-col>

					<el-col :span="12" :xs="12">
						<el-button @click="source_change(item)" type="primary">
							{{item.sensor_note}}</button>
					</el-col>



				</el-row>
			</el-card>



		</div>


		<div style="clear: both;"></div>




		<div v-if="ui_config.show_radio_button">
			<el-card class="box-card" style="margin-top: 40px;">
				<el-row>
					<div v-for="item in value">

						<el-col :span="8">
							<div v-if="item.sensor_role=='radio_button'">

								<el-card shadow="hover" style="margin: 20px 20px;">
									<el-radio-group v-model="item.sensor_value" @change="source_change(item)">
										<div v-for="item_2 in radio_button_enum(item.sensor_note)">
											<el-radio-button v-bind:label="item_2.name" style="margin-top: 10px;">
												{{item_2.value}}
											</el-radio-button>
										</div>
									</el-radio-group>
								</el-card>


							</div>
						</el-col>

					</div>
				</el-row>


			</el-card>

		</div>








		<div style="margin-bottom: 60px;"></div>



	</div>

</body>



<script type="text/javascript" src="../js/project_config.js"></script>
<!-- <script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script src="https://unpkg.zhimg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.zhimg.com/element-ui/lib/index.js"></script> -->
<script src="../js/vue.js"></script>
<script src="../js/element-ui/index.js"></script>
<script src="../js/jquery-3.4.1.min.js"></script>
<script src="../js/db_table.js"></script>


<!-- <script src="../js/texiao_1.js"></script>   -->
<!-- 跟随鼠标不停的产生起泡球 -->

<!-- <script src="../js/texiao_2.js"></script>   -->
<!-- //鼠标点击重力球 -->

<!-- <script src="../js/texiao_3.js"></script>   -->
<!-- //磁力网络线 -高密度-->

<!-- <script src="../js/texiao_4.js"></script>   -->
<!-- //漫天飘雪 -->

<!-- <script src="../js/texiao_5.js"></script>   -->
<!-- //动态彩条 -->

<!-- <script src="../js/texiao_6.js"></script>   -->
<!-- //动态网络线 -低密度 -->



<script>
	console.log(cfg_sensor_monitor_url);




	function request_option(option, data, callback) {


		var delete_url = cfg_sensor_monitor_url;

		delete_url = delete_url + "?option=" + option + "&data=" + JSON.stringify(data);

		console.log(delete_url);


		$.ajax({
			type: 'get',
			dataType: "json",
			url: delete_url,
			success: function (data) {
				var json_data;
				try {
					json_data = JSON.parse(data);
				} catch (error) {
					json_data = data;
				}
				callback(json_data);
			},
		});
	}

	//去掉字符串中的字母
	function remove_a_Z(str) {
		var result;
		var reg = /[a-zA-Z]+/;  //[a-zA-Z]表示匹配字母，g表示全局匹配
		while (result = str.match(reg)) { //判断str.match(reg)是否没有字母了
			str = str.replace(result[0], ''); //替换掉字母  result[0] 是 str.match(reg)匹配到的字母
		}
		return str;
	}



	function timer_diff_now(sensor_time) {
		var date = sensor_time;
		date = date.substring(0, 19);
		date = date.replace(/-/g, '/');
		var timestamp_sensor = new Date(date).getTime() / 1000;
		var timestamp_now = parseInt(new Date().getTime() / 1000);

		// console.log(timestamp_now - timestamp_sensor);

		return (timestamp_now - timestamp_sensor)
	}





	function analyse_frame(context, data) {

		var alert_log = "";

		var alert_item_number = 0;

		for (let item of data) {

			if (item.sensor_role == "alert") {
				//
				var string_vlaue = item.sensor_value;
				var json_value = JSON.parse(string_vlaue);

				var alert_value = json_value.value;
				var alert_limit = json_value.limit;
				var alert_arg = json_value.arg;

				var alert_value_number = 0;
				var alert_value_name = '';

				var alert_limit_number = 0;
				var alert_limit_name = '';






				for (let new_item of context.value) {
					if (new_item.sensor_type == alert_value) {
						alert_value_number = parseInt(new_item.sensor_value);
						alert_value_name = new_item.sensor_name;

						// console.log("alert_value_number=" + alert_value_number + "alert_value_name=" + alert_value_name);
					}

					if (new_item.sensor_type == alert_limit) {
						alert_limit_number = parseInt(new_item.sensor_value);
						alert_limit_name = new_item.sensor_name;

						// console.log("alert_limit_number=" + alert_limit_number + "alert_limit_name=" + alert_limit_name);
					}
				}


				alert_log = alert_log + "<div style=\"margin:5px 5px; text-align: center;\">";

				if (alert_arg.trim() == ">") {
					if (alert_value_number > alert_limit_number) {
						alert_item_number++;
						// alert_log = alert_log + '[' + alert_value_name + ' ' + alert_value_number + "] 超过 [" + alert_limit_name + ' ' + alert_limit_number + ']';
						alert_log = alert_log + '[' + item.sensor_note + ']';
					}
				}
				else if (alert_arg.trim() == "<") {
					if (alert_value_number < alert_limit_number) {
						alert_item_number++;
						// alert_log = alert_log + '[' + alert_value_name + ' ' + alert_value_number + "] 低于 [" + alert_limit_name + ' ' + alert_limit_number + ']';
						alert_log = alert_log + '[' + item.sensor_note + ']';
					}
				}
				else if (alert_arg.trim() == "==" || alert_arg.trim() == "=") {
					if (alert_value_number == alert_limit_number) {
						alert_item_number++;
						// alert_log = alert_log + '[' + alert_value_name + ' ' + alert_value_number + "] 等于 [" + alert_limit_name + ' ' + alert_limit_number + ']';
						alert_log = alert_log + '[' + item.sensor_note + ']';
					}
				}
				else if (alert_arg.trim().indexOf("=") != -1) {
					var temp_compare_value = parseInt(alert_arg.trim().replace("=", ""));
					if (alert_value_number == temp_compare_value) {
						alert_item_number++;
						// alert_log = alert_log + '[' + alert_value_name + ' ' + alert_value_number + "] 等于 [" + alert_limit_name + ' ' + alert_limit_number + ']';
						alert_log = alert_log + '[' + item.sensor_note + ']';
					}
				}
				else if (alert_arg.trim().indexOf(">") != -1) {
					var temp_compare_value = parseInt(alert_arg.trim().replace(">", ""));
					if (alert_value_number > temp_compare_value) {
						alert_item_number++;
						// alert_log = alert_log + '[' + alert_value_name + ' ' + alert_value_number + "] 等于 [" + alert_limit_name + ' ' + alert_limit_number + ']';
						alert_log = alert_log + '[' + item.sensor_note + ']';
					}
				}
				else if (alert_arg.trim().indexOf("<") != -1) {
					var temp_compare_value = parseInt(alert_arg.trim().replace("<", ""));
					if (alert_value_number < temp_compare_value) {
						alert_item_number++;
						// alert_log = alert_log + '[' + alert_value_name + ' ' + alert_value_number + "] 等于 [" + alert_limit_name + ' ' + alert_limit_number + ']';
						alert_log = alert_log + '[' + item.sensor_note + ']';
					}
				}


				// alert_log =alert_log+ "</div><br/>";
				alert_log = alert_log + "</div>";


			}
		}

		if (alert_item_number > 0) {
			// context.$message(alert_log);
			context.$message({
				message: alert_log,
				type: 'warning',
				duration: 1800,
				dangerouslyUseHTMLString: true
			});
		}


	}



	new Vue({
		el: '#app',
		data: {
			value: [], //add default value here
			ui_config: {
				show_label: false,
				show_switch: false,
				show_slier: false,
				show_number: false,
				show_timer: false,
				show_textbox: false,
				show_radio_button: false,
				show_card: false,
			},
			flag_disable_refresh: false,
			analyze_script: "", //-----------------------启动分析引擎---------------------------//

		},
		methods: {

			source_change(item) {


				console.log(JSON.stringify(item));

				_self = this;

				request_option("update", item, function (data) {


					// _self.show_source(data); //是否立刻刷新数据，不建议


				});


			},

			show_source(data) {

				value_temp = [];

				var temp_show_label = false;
				var temp_show_card = false;
				var temp_show_slider = false;
				var temp_show_switch = false;
				var temp_show_number = false;
				var temp_show_timer = false;
				var temp_show_textbox = false;
				var temp_show_radio_button = false;

				for (let item of data) {

					if (item.sensor_role == "label" || item.sensor_role == "label_map") {
						temp_show_label = true;
					} else if (item.sensor_role == "slider") {
						temp_show_slider = true;
					} else if (item.sensor_role == "number") {
						temp_show_number = true;
					} else if (item.sensor_role == "switch") {
						temp_show_switch = true;
					} else if (item.sensor_role == "timer") {
						temp_show_timer = true;
					} else if (item.sensor_role == "textbox") {
						temp_show_textbox = true;
					} else if (item.sensor_role == "radio_button") {
						temp_show_radio_button = true;
					} else if (item.sensor_role == "card") {
						temp_show_card = true;
					}



					if (item.sensor_role == "slider") {
						var temp_slider = {
							id: "",
							sensor_name: "",
							sensor_type: "",
							sensor_value: 0,
							sensor_role: ""
						};
						temp_slider.id = item.id;
						temp_slider.sensor_type = item.sensor_type;
						temp_slider.sensor_name = item.sensor_name;
						temp_slider.sensor_role = item.sensor_role;
						temp_slider.sensor_value = parseInt(item.sensor_value);

						value_temp.push(temp_slider);

					} else if (item.sensor_role == "checkbox") {
						var temp_slider = {
							id: "",
							sensor_name: "",
							sensor_type: "",
							sensor_value: false,
							sensor_role: ""
						};

						temp_slider.id = item.id;
						temp_slider.sensor_type = item.sensor_type;
						temp_slider.sensor_name = item.sensor_name;
						temp_slider.sensor_role = item.sensor_role;
						temp_slider.sensor_value = Boolean(item.sensor_value);

						value_temp.push(temp_slider);

					} else {
						value_temp.push(item);
					}

				}



				this.ui_config.show_label = temp_show_label;
				this.ui_config.show_card = temp_show_card;
				this.ui_config.show_slider = temp_show_slider;
				this.ui_config.show_switch = temp_show_switch;
				this.ui_config.show_number = temp_show_number;
				this.ui_config.show_timer = temp_show_timer;
				this.ui_config.show_textbox = temp_show_textbox;
				this.ui_config.show_radio_button = temp_show_radio_button;


				this.value = value_temp;

				analyse_frame(this, data);


				//----------------------分析引擎---------------------//

				if (this.analyze_script != "") {

					// console.log("analyze_scripte="+this.analyze_script);

					try {
						var analyze_function = new Function('context', 'data', this.analyze_script);
						analyze_function(this, data);
					} catch (error) {
						this.$message({
							message: "规则引擎解析失败:" + error,
							type: 'warning',
							duration: 1800,
							dangerouslyUseHTMLString: true
						});

						console.log("规则引擎解析失败:\n" + error)
					}

				}
				//----------------------分析引擎---------------------//

			},

			disable_refresh() {
				this.flag_disable_refresh = true;
			},
			enable_refresh() {
				this.flag_disable_refresh = false;
			},


			refresh() {

				if (this.flag_disable_refresh) {
					// console.log(this.flag_disable_refresh);
					return;
				}

				_self = this;

				request_option("select", " ", function (data) {

					// console.log(JSON.stringify(data));

					_self.show_source(data);
				});

			},

			radio_button_enum(value) {

				if (value == null || value == "") {
					console.log("invalid radio button!!");
					return null;
				}

				var value_temp = [];
				// var json_value = JSON.parse(value);

				var real_value = value.replace("{", "").replace("}", "").replace(/\"/g, "").trim();

				var string_key_value = real_value.split(',');
				for (var item in string_key_value) {

					var string_key_value_2 = string_key_value[item].split(':');
					var temp_key = string_key_value_2[0];
					var temp_value = string_key_value_2[1];

					var temp_enum = {
						name: "",
						value: ""
					};

					temp_enum.name = temp_key;
					temp_enum.value = temp_value;
					value_temp.push(temp_enum);
				}

				return value_temp;


			},
			refresh() {

				if (this.flag_disable_refresh) {
					// console.log(this.flag_disable_refresh);
					return;
				}

				_self = this;

				request_option("select", " ", function (data) {

					// console.log(JSON.stringify(data));

					_self.show_source(data);
				});

			},
			online_detect(item) {

				var string_state = '';
				if (timer_diff_now(item.sensor_time) > 20) {

					var show_time = date_to_string(new Date(item.sensor_time));
					string_state = '离线 <上次在线：' + show_time + '>';

					if (parseInt(item.sensor_value) > 0) {
						item.sensor_value = 0;
						request_option("update", item, function (data) {
							// change value to 0.
						});
					}


				}
				else {
					string_state = '在线 <在线时长：' + item.sensor_value + '>';
				}

				return string_state;

			}



		},

		created() {

			this.show_source(this.value);

			this.refresh();

			timer_request = setInterval(this.refresh, 2000);


			//-----------------------启动分析引擎---------------------------//
			_self = this;
			var upload_data = { id: "sensor_monitor" };
			db_table_ops('get', 'analyze', 'get', upload_data, function (data) {

				if (data == null || data.value == undefined || data.value == null) {
					console.log("规则引擎获取失败!");
					return;
				}

				_self.analyze_script = data.value;
				console.log(_self.analyze_script);
			});
			//------------------------------------------------------------//


		}

	});


	config_UI("sensor_monitor");



</script>



</html>